.wrapper {
  width: 500px;
  height: 50px;
  position: relative;
  background-color: #CCC;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.playbar {
  composes: bar;
  background-color: green;
  z-index: 2;
}

.loadbar {
  composes: bar;
  background-color: #AAA;
  z-index: 1;
}
