/* .timeline {
  flex: 1;
  position: relative;
  margin-left: 10px;
  display: inline-block;
}

.progress {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin: -4px 0 0;
  padding: 0;
  appearance: none;
  border: none;
  border-radius: 100px;
}

.progress::-webkit-progress-bar {
  background-color: transparent;
}

.progress::-webkit-progress-value {
  background: currentColor;
  border-radius: 100px;
}

.played {
  composes: progress;
  z-index: 2;
  color: #3498db;
  background: 0 0;
}

.loaded {
  composes: progress;
  z-index: 1;
  color: rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.25);
} */

.markers {
  position: absolute;
  height: 8px;
  top: 50%;
  left: 0;
  right: 0;
  margin: -4px 0 0;
}

.mark {
  composes: has-tooltip from '../VideoPlyr/styles.css';
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: yellow;
}

/* .seek {
  display: block;
  z-index: 3;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;

  appearance: none;
  cursor: pointer;
  border: none;
  background: transparent;
}

.seek::-webkit-slider-runnable-track,
.seek::-moz-range-track,
.seek::-ms-track {
  height: 8px;
  background: transparent;
  border: 0;
  border-radius: 4px;
  user-select: none;
}

.seek::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  z-index: 5;
  height: 16px;
  width: 16px;
  background: #FFF;
  border: 2px solid transparent;
  border-radius: 100%;
  transition: background 0.2s ease, border 0.2s ease, transform 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
} */

.open .bubble {
  opacity: 1;
  transform: scale(1) translate(0, 5px);
}

.bubble {
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute;
  opacity: 0;
  font-size: 12px;
  top: 100%;
  left: 1px;
  margin: 10px 0 0;
  background-color: white;
  color: black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  padding: 8px 6px;
  transform: scale(1, 0.8) translate(0, -5px);
  transform-origin: 50% 0%;
  text-align: justify;
}

.bubble::after {
  position: absolute;
  content: '';
  display: block;
  border-right: solid 10px transparent;
  border-bottom: solid 10px white;
  bottom: calc(100% - 1px);
  left: 0;
}

.open .wrapper {
  width: 300px;
}

.wrapper {
  transition: width 0.5s ease;
  width: 50px;
  overflow: hidden;
}

.inner {
  width: 300px;
}
