.wrapper {
  background-color: #202020;
  width: 100%;
}

.footer {
  composes: wrapper;
  padding: 30px 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: right;
  color: #CCC;
}

.container {
  width: 960px;
  margin: auto;
}

.header {
  height: 100px;
}

.header h1 {
  line-height: 50px;
  padding: 30px 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #D4D4DE;
  text-transform: uppercase;
}

.main {
  background-color: #FAFAFA;
}
